* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #457;
}

.todo1 {
    width: 600px;
    margin: 30px auto 0;
    background-color: #1e4578;
    border-radius: 2px;

}
.todo1 .add-task{
    padding: 15px;
    background-color: #cdd5de;
    position: relative;
    border-radius: 2px;
}
.todo1 .add-task input {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    background-color: rgb(255, 255, 255, .3);
    width: calc(100%  - 15px);
    color: black ;
    font-size: 20px;
}
.todo1 .add-task input:focus {
    outline: none;
}
.todo1 .add-task .plus{
    position: absolute;
    height: 43px;
    width: 43px;
    background-color:#1e4578;
    right: 12px;
    border-radius: 50%;
    line-height: 43px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 38px;
    transition: transform .3s;
}
.todo1 .add-task .plus:hover{
    transform: rotate(90deg);
}
.todo1 .tasks {
    padding: 15px;
}
.todo1 .tasks .no-tasks {
    color: #777;
    font-size: 15px;
    border-radius: 2px ;
}
.todo1 .tasks > span {
    display: block;
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
}
.todo1 .tasks > span:not(:last-child) {
    margin-bottom: 10px;
}
.todo1 .tasks .task-box .delete{
    float: right;
    background-color: #E91E63;
    padding: 4px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
.todo1 .tasks .task-box.finished {
    text-decoration: line-through;
}
.task-stats {
    overflow: hidden;
    margin: 10px auto;
    width: 600px;
    font-size: 12px;
}
.task-stats .task-count {
    width: 50%;
    float: left;
    padding: 10px;
    color: white;
}
.task-stats .task-comp {
    width: 50%;
    float: right;
    padding: 10px;
    text-align: right;
    color: white;
}
.task-stats .task-count span,
.task-stats .task-comp span {
    color: #fff;
    padding: 1px 5px;
    font-size: 10px;
    border-radius: 4px;
    font-weight: bold;

}
.task-stats .task-count span {
    background-color: #03a9f4;
}
.task-stats .task-comp span{
    background-color: #E91E63;
}